################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TemperatureSensorArduinoReader/bin
/TemperatureSensorArduinoReader/obj
/TemperatureSensorArduinoReader/appSettings.json
/TemperatureSensorArduinoReader/rooms.json
/TemperatureSensorArduinoReader/TemperatureSensorArduinoReader.csproj.user
/TemperatureSensorArduinoReader/Properties/PublishProfiles/FolderProfile.pubxml.user
TemperatureSensorArduinoReaderTests/bin/Debug/net8.0/appSettings.json
/TemperatureSensorArduinoReaderTests/bin
/TemperatureSensorArduinoReaderTests/obj
